{% extends "main.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<h4> Add a New Actuator</h4>

<div>
    <form method="POST" action="{{ url_for('addActuators') }}">
        {{ addForm.csrf_token }}

          <div class="control-group">
            {{ wtf.form_field(addForm.position, placeholder = "e.g. 1") }}
            {{ wtf.form_field(addForm.type, placeholder = "e.g. Light") }}
          </div>

           <sdiv class="control-group">
            <div class="controls">
                <input class="btn btn-info" type="submit" value="Add">
            </div>
          </div>
    </form>
</div>

</br>

{% if actuator %}
<div class="container">
  <div class="alert alert-info" role="alert">
    Added Actuator Successfully!
  </div>
</div>
{% endif %}

{% endblock %}