{% extends "main.html" %}

{% block content %}



<p> Get Data from Sensors</p>

<div>
    <form method="POST" action="{{ url_for('getData') }}">
        {{ sensorForm.csrf_token }}
          <div class="control-group">
           <label class="control-label">Choose a Sensor: </label>
            {{ sensorForm.selectSensor(size = 20) }}
            <label class="control-label">Number of recent readings to view: </label>
            {{ sensorForm.selectReadings.recent(size = 20, placeholder = "Number of recent readings") }}

            <p></p>
            <label class="control-label">Or choose a range to view from: </label>
            {{ sensorForm.selectReadings.startend.start(size = 20, placeholder = "YY-MM-DD hh:mm") }}
            to
            {{ sensorForm.selectReadings.startend.end(size = 20, placeholder = "YY-MM-DD hh:mm") }}
          </div>

           <div class="control-group">
            <div class="controls">
                <input class="btn btn-primary" type="submit" value="View">
            </div>
          </div>
    </form>
</div>

<div>

    <ul>
        {% for sensor in readingsList %}
        <li>
            {{ sensor['type']  }} {{ sensor['position'] }}
            <ul>
                {% for reading in sensor['readings'] %}
                    <li>{{ reading['value']  }} {{ reading['units'] }} {{ reading['timeStamp'] }} </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
    
</div>

{% endblock %}