{% extends "main.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}



<p> Get Data from Sensors</p>
<div>
    <form method="POST" action="{{ url_for('getData') }}">
        {{ sensorForm.csrf_token }}
          <div class="control-group">

            {{ wtf.form_field(sensorForm.selectSensor) }}

            <p>Select the readings you want to view:</p>
            {{ wtf.form_field(sensorForm.selectReadings.recent, placeholder = "Number of recent readings") }}
            {{ wtf.form_field(sensorForm.selectReadings.start) }}
            {{ wtf.form_field(sensorForm.selectReadings.end) }}
          </div>

           <div class="control-group">
            <div class="controls">
                <input class="btn btn-primary" type="submit" value="View">
            </div>
          </div>
    </form>
</div>

{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
</div>
{% endfor %}

<p></p>

<div class="container" style="width:40%">
{% if sensorFlag %}
    <p>{{ readingsList['type']  }} {{ readingsList['position'] }}</p>
    <table class = "table table-bordered table-hover table-sm">
        <thead class = "thead-dark">
            <tr>
                <th scope = "col">Value</th>
                <th scope = "col">Units</th>
                <th scope = "col">Time Stamp</th>
            </tr>
        </thead>
        <tbody>
            {% for reading in readingsList['readings'] %}
            <tr>
                <td>{{ reading['value']  }}</td>
                <td>{{ reading['units']  }}</td>
                <td>{{ reading['timeStamp']  }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


{% else %}

    <table class = "table table-bordered table-hover table-sm">
        <thead class = "thead-dark">
            <tr>
                <th scope = "col">Value</th>
                <th scope = "col">Units</th>
                <th scope = "col">Time Stamp</th>
            </tr>
        </thead>
        <tbody>
            {% for sensor in readingsList %}
                <tr>
                    <td class = "table-secondary" style = "text-align: center" colspan = 3>{{ sensor['type']  }} {{ sensor['position'] }}</td>
                </tr>



                {% for reading in sensor['readings'] %}
                    <tr>
                        <td>{{ reading['value']  }}</td>
                        <td>{{ reading['units']  }}</td>
                        <td>{{ reading['timeStamp']  }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>

    </table>

{% endif %}

</div>

{% endblock %}