{% extends "main.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<h3>Welcome to HydRC4nics!</h3>

<p>
   HydRC4nics is the name of a smart hydroponic garden located in RC4.
   This website allows you to access the smart functionalities of the garden. 
   Do take a look around!
   Everyone will be able to access data from the garden. 
</p>

<h6>However, for other functionalities, please do login!</h6>


<h4>Some Background</h4>

<p>
   Singapore aims to produce 30% of its nutritional needs by 2030. Land productivity, water, and energy efficiency are believed to be the solution to Singapore's food security issue. 
   High technology farms, vertical farming, and hydroponics are some of the solutions that people have produced to tackle the problem.
</p>

<p>
   More on vertical farming:
</p> 

<div class="embed-responsive embed-responsive-16by9">
   <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/IBleQycVanU" allowfullscreen></iframe>
</div>

<p>
   Hydroponics offers the opportunity to teach us about sustainable agriculture and systems thinking; and allows optimised plant growth through greater time, resource, and space efficiency.
</p>

{% endblock %}