{% extends "main.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<p> Send Commands to Actuators</p>
<div>
    <form method="POST" action="{{ url_for('sendCommands') }}">
        {{ commandForm.csrf_token }}
          <div class="control-group my-auto">
            {{ wtf.form_field(commandForm.selectActuator) }}
            {{ wtf.form_field(commandForm.value) }}
            {{ wtf.form_field(commandForm.units) }}
            {{ wtf.form_field(commandForm.issuer) }}
            {{ wtf.form_field(commandForm.purpose) }}
            {{ wtf.form_field(commandForm.executeDate) }}
            {{ wtf.form_field(commandForm.repeat, placeholder = "0 to stop repeat") }}

           <div class="controls">
                <input class="btn btn-primary" type="submit" value="Send">
           </div>
          </div>
    </form>
</div>

{% if success %}
{{ success }}
{% endif %}


{% endblock %}