{% extends "main.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<p>Sign Up</p>

<div>
    <form method="POST" action="{{ url_for('signup') }}">
        {{ signupForm.csrf_token }}

          <div class="control-group">
            {{ wtf.form_field(signupForm.email) }}
            {{ wtf.form_field(signupForm.name) }}
            {{ wtf.form_field(signupForm.password) }}
            {{ wtf.form_field(signupForm.confirm) }}
            <div class="alert alert-primary" role="alert">
              Please be reminded to never reuse the same password! Always use a new password for every account.
            </div>
          </div>

           <sdiv class="control-group">
            <div class="controls">
                <input class="btn btn-primary" type="submit" value="Sign Up">
            </div>
          </div>
    </form>

    <p></p>
    {% if register %}
    <div class="alert alert-primary" role="alert">
      Signed Up Successfully!
    </div>
    {% endif %}
</div>



{% endblock %}