{% extends "main.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<h4>Updating command for {{ actuator['type'] }} {{ actuator['position'] }}</h4>

<div>
    <form method="POST" action="{{ url_for('updateCommand', actuatorId = actuatorId, commandId = commandId) }}">
        {{ updateForm.csrf_token }}
          <div class="control-group my-auto">
            <p>Previous value: {{ command["value"] }}</p>
            {{ wtf.form_field(updateForm.value, placeholder = command["value"], value = command["value"]) }}

            <p>Previous Issuer: {{ command["issuer"] }}</p>
            {{ wtf.form_field(updateForm.issuer, placeholder = command["issuer"], value = command["issuer"]) }}
            
            <p>Previous purpose: {{ command["purpose"] }}</p>
            {{ wtf.form_field(updateForm.purpose, placeholder = command["purpose"], value = command["purpose"]) }}

            <p>Previous execute date: {{ command["executeDate"] }}</p>
            {{ wtf.form_field(updateForm.executeDate, value = command["executeDate"]) }}

            <p>Previous number of times to repeat: {{ command["repeat"] }}</p>
            {{ wtf.form_field(updateForm.repeat, placeholder = command["repeat"], value = command["repeat"]) }}

           <div class="controls">
                <input class="btn btn-info" type="submit" value="Update">
           </div>
          </div>
    </form>
</div>

{% if newCommand %}
<div class="alert alert-info" role="alert">
  Updated Command Successfully!
</div>
{% endif %}

{% endblock %}