{% extends "main.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<h4> Update an Existing Sensor</h4>

<div>
    <form method="POST" action="{{ url_for('updateSensors') }}">
        {{ updateForm.csrf_token }}

          <div class="control-group">
            {{ wtf.form_field(updateForm.selectSensor) }}
            {{ wtf.form_field(updateForm.position, placeholder = "e.g. 1") }}
            {{ wtf.form_field(updateForm.type, placeholder = "e.g. Light") }}
          </div>

           <sdiv class="control-group">
            <div class="controls">
                <input class="btn btn-info" type="submit" value="Update">
            </div>
          </div>
    </form>
</div>

</br>

{% if sensor %}
<div class="container">
  <div class="alert alert-info" role="alert">
    Updated Sensor Successfully!
  </div>
</div>
{% endif %}

{% endblock %}