{% extends "main.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}



<p> View Commands Sent to Actuators</p>

<div>
    <form method="POST" action="{{ url_for('viewCommands') }}">
        {{ commandsForm.csrf_token }}
          <div class="control-group">

            {{ wtf.form_field(commandsForm.selectActuator) }}
            
            {{ wtf.form_field(commandsForm.selectCommandsType) }}

            {{ wtf.form_field(commandsForm.selectCommands.recent, placeholder = "Number of recent commands") }}
            
            {{ wtf.form_field(commandsForm.selectCommands.start) }}
            {{ wtf.form_field(commandsForm.selectCommands.end) }}

          </div>

           <div class="control-group">
            <div class="controls">
                <input class="btn btn-primary" type="submit" value="View">
            </div>
          </div>
    </form>
</div>

<div>
{% if actuatorFlag %}

    <ul>
        <li>
            {{ commandsList['type']  }} {{ commandsList['position'] }}
            <ul>
                {% for command in commandsList['commands'] %}
                    <li>{{ command['value']  }} {{ command['units'] }} {{ command['executeDate'] }} </li>
                {% endfor %}
            </ul>
        </li>
    </ul>

{% else %}

    <ul>
        {% for actuator in commandsList %}
        <li>
            {{ actuator['type']  }} {{ actuator['position'] }}
            <ul>
                {% for command in actuator['commands'] %}
                    <li>{{ command['value']  }} {{ command['units'] }} by {{ command['issuer'] }}
                         on {{ command['executeDate'] }} </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>

{% endif %}

</div>

{% endblock %}