{% extends "main.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<p> View Commands Sent to Actuators</p>

<div>
    <form method="POST" action="{{ url_for('viewCommands') }}">
        {{ commandsForm.csrf_token }}
          <div class="control-group">

            {{ wtf.form_field(commandsForm.selectActuator) }}
            
            {{ wtf.form_field(commandsForm.selectCommandsType) }}

            {{ wtf.form_field(commandsForm.selectCommands.recent, placeholder = "Number of recent commands") }}
            
            {{ wtf.form_field(commandsForm.selectCommands.start) }}
            {{ wtf.form_field(commandsForm.selectCommands.end) }}

          </div>

           <div class="control-group">
            <div class="controls">
                <input class="btn btn-primary" type="submit" value="View">
            </div>
          </div>
    </form>
</div>

{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
</div>
{% endfor %}


<div>
{% if actuatorFlag %}

    <p>{{ commandsList['type']  }} {{ commandsList['position'] }}</p>
    <table class = "table table-bordered table-hover table-sm">
        <thead class = "thead-dark">
            <tr>
                <th scope = "col">Value</th>
                <th scope = "col">Units</th>
                <th scope = "col">Issuer</th>
                <th scope = "col">Purpose</th>
                <th scope = "col">Issue Date</th>
                <th scope = "col">Execute Date</th>
                <th scope = "col">Times to Repeat</th>
                <th scope = "col">Link to Update</th>
            </tr>
        </thead>
        <tbody>
            {% for command in commandsList['commands'] %}
            <tr>
                <td>{{ command['value']  }}</td>
                <td>{{ command['units']  }}</td>
                <td>{{ command['issuer']  }}</td>
                <td>{{ command['purpose']  }}</td>
                <td>{{ command['issueDate']  }}</td>
                <td>{{ command['executeDate']  }}</td>
                <td>{{ command['repeat']  }}</td>

                {% if command['completed'] %}
                    <td> Already Executed </td>
                {% else %}
                    <td><a href= "{{ 'update-command/' + commandsList['id'] + ':' + command['id'] }}">Update</a></td>
                {% endif %}
                
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% else %}

    <table class = "table table-bordered table-hover table-sm">
        <thead class = "thead-dark">
            <tr>
                <th scope = "col">Value</th>
                <th scope = "col">Units</th>
                <th scope = "col">Issuer</th>
                <th scope = "col">Purpose</th>
                <th scope = "col">Issue Date</th>
                <th scope = "col">Execute Date</th>
                <th scope = "col">Times to Repeat</th>
                <th scope = "col">Link to Update</th>
            </tr>
        </thead>
        <tbody>
            {% for actuator in commandsList %}
                <tr>
                    <td class = "table-secondary" style = "text-align:center" colspan = 8>{{ actuator['type']  }} {{ actuator['position'] }}</td>
                </tr>
                {% for command in actuator['commands'] %}
                    <tr>
                        <td>{{ command['value']  }}</td>
                        <td>{{ command['units']  }}</td>
                        <td>{{ command['issuer']  }}</td>
                        <td>{{ command['purpose']  }}</td>
                        <td>{{ command['issueDate']  }}</td>
                        <td>{{ command['executeDate']  }}</td>
                        <td>{{ command['repeat']  }}</td>

                        {% if command['completed'] %}
                            <td> Already Executed </td>
                        {% else %}
                            <td><a href= "{{ 'update-command/' + actuator['id'] + ':' + command['id'] }}">Update</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>

{% endif %}

</div>

{% endblock %}