{% extends "main.html" %}

{% block content %}



<p> View Commands Sent to Actuators</p>

<div>
    <form method="POST" action="{{ url_for('viewCommands') }}">
        {{ commandsForm.csrf_token }}
          <div class="control-group">

           <label class="control-label">Choose an Actuator: </label>
            {{ commandsForm.selectActuator(size = 20) }}
            
            <label class="control-label">Choose a type of command: </label>
            {{ commandsForm.selectCommandsType(size = 20) }}

            <label class="control-label">Number of recent commands to view: </label>
            {{ commandsForm.selectCommands.recent(size = 25, placeholder = "Number of recent commands") }}

            <p></p>
            
            <label class="control-label">Or choose a range to view from: </label>
            {{ commandsForm.selectCommands.start(size = 20, placeholder = "YY-MM-DD hh:mm") }}
            to
            {{ commandsForm.selectCommands.end(size = 20, placeholder = "YY-MM-DD hh:mm") }}

          </div>

           <div class="control-group">
            <div class="controls">
                <input class="btn btn-primary" type="submit" value="View">
            </div>
          </div>
    </form>
</div>

<div>
{% if actuatorFlag %}

    <ul>
        <li>
            {{ commandsList['type']  }} {{ commandsList['position'] }}
            <ul>
                {% for command in commandsList['commands'] %}
                    <li>{{ command['value']  }} {{ command['units'] }} {{ command['executeDate'] }} </li>
                {% endfor %}
            </ul>
        </li>
    </ul>

{% else %}

    <ul>
        {% for actuator in commandsList %}
        <li>
            {{ actuator['type']  }} {{ actuator['position'] }}
            <ul>
                {% for command in actuator['commands'] %}
                    <li>{{ command['value']  }} {{ command['units'] }} by {{ command['issuer'] }}
                         on {{ command['executeDate'] }} </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>

{% endif %}

</div>

{% endblock %}